.groups {
    display: inline-block;
    margin: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid;
}

.betters table,th,tr,td {
    border: 1px solid;
    border-collapse:collapse;
}
.betters td, th {
    padding-left: .2em;    
    padding-right: .5em;
}

.warning {
    display: inline-block;
    font-family: "Comic Sans MS";
    font-size: 16;
    background-color: #FFFC7C;
    border: 1px solid;
    padding-left: 1em;
    padding-right: 1em;
}

.matches {
    display: inline-block;
    margin: .5em;
    padding-left: 1em;
    padding-right: 1em;
}

.matches table,th,tr,td {
    border: 1px solid;
    border-collapse:collapse;
}
.matches td, th {
    padding-left: .2em;    
    padding-right: .5em;
}
